<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Kirei</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- Facebook Configuration -->
    <key>FacebookAppID</key>
    <string>7989294924414445</string>
    <key>FacebookClientToken</key>
    <string>a80730de25ce0a033cd49f0396ef5aa3</string>
    <key>FacebookDisplayName</key>
    <string>Kirei</string>

    <!-- URL Schemes -->
    <key>CFBundleURLTypes</key>
    <array>
        <!-- Google Sign-In -->
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.379616346839-diqg4rqlo9g376sc788un3oot4frhoec</string>
            </array>
        </dict>
        <!-- Facebook URL Schemes -->
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb950110338385665</string>
            </array>
            <key>CFBundleURLName</key>
            <string>beta.kireibd.com</string>
        </dict>
    </array>

    <!-- Facebook LSApplicationQueriesSchemes -->
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
    </array>

    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>

    <!-- Permissions Descriptions -->
    <key>NSCalendarsUsageDescription</key>
    <string>calendar</string>
    <key>NSCameraUsageDescription</key>
    <string>User can upload and change her profile picture from Camera</string>
    <key>NSContactsUsageDescription</key>
    <string>contacts</string>
    <key>NSMotionUsageDescription</key>
    <string>motion</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>User can upload and change her profile picture from PhotoLibrary</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>This app does not access Apple Music functionality</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app does not use speech recognition functionality</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app does not access your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app does not access your location</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app does not use Bluetooth functionality</string>

    <!-- Background Modes -->
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <!-- Supported Orientations -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <!-- Flutter Deep Linking -->
    <key>FlutterDeepLinkingEnabled</key>
    <true/>
</dict>
</plist>
